.avatar{
  width:50px;
  height:50px;
  border-radius: 50%;
  float:left;
  margin-bottom: 50px;
}

.user {
  display: flex;
  justify-content: left;
}

div {
  width: 100%;
}
.searchbar
{
  display: flex;
  width: 25%;
}
.searchies
{
  display: flex;
  margin-bottom: 50px;
}
.searchbutton
{
  background: lightblue;
}
